<!--DOCTYTYPE html-->
<html lang="en">
    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>User Profile Page</title>
	    <link rel="stylesheet" type="text/css" href="userprofile.css">
    </head>
    <body>
    	<div id="user-name-container">
    		<header id="user-name">[User]</header>
    	</div>
        
        <section id="content">
        	<section id="user-information">
            	<div id="personal-information-box">[Personal Info]</div>
            	<div id="toxicity-score-box">[Toxicity]</div>
        	</section>
        	<br>
        	<section id="user-edits">
        		<div id="edits-container">
            		<ul id="edits-list">
            			<li>[Toxic %] [User]: [Article] - [Edit-Comment] [Date]</li>
            			<li>[Toxic %] [User]: [Article] - [Edit-Comment] [Date]</li>
            		</ul>
            	</div>
        	</section>
        </section>
    </body>
</html>
