body {
  overflow-x: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.edit-info {
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 25px;
  background: white;
}

.section {
  margin-top: 2em;
  position: relative;
  background: lightgrey;
  overflow: hidden;
  width: 105em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

a:hover {
  cursor:pointer;
  text-decoration: none;
}

.dashboard-header {
    width: 100%;
    background: lightgrey;
    height: 5em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.user-loggedin {
    height: 2.5em;
    background-color: white;
    width: 8em;
    margin-right: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
