body {
  overflow-x: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.edit-info {
  border: 2px solid grey;
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 25px;
  background: white;
}

.section {
  margin-top: 50px;
  position: relative;
	background: grey;
	overflow: hidden;
	width: 85%;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}