.user-profile-header {
    width: 100%;
    background: #f8f9fa;
    height: 5em;
    display: flex;
    align-items: center;
}

.nav-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
}

.nav-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: black
}

.user-loggedin {
    font-size: 16px;
    line-height: 32px;
    height: 2.5em;
    width: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #007bff
}

.user-profile-content {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1140px;
}
 
.user-information {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  display: flex;
  flex-direction: row;
  
}
.personal-information-box {
  padding: 1.5em;
  background-color: #f8f9fa;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  margin-right: 1.5rem;
}

.incivility-box {
  padding: 1.5em;
  background-color: #f8f9fa;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  margin-left: 1.5rem;
}

.user-edits-feed {
  padding: 1.5em;
  background-color: #f8f9fa;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

.table-container{
    width: 100em;
    margin: 2em;
}

th.dt-center, td.dt-center {
    text-align: center; 
}

a:hover {
 cursor:pointer;
 text-decoration: none;
 color: #007bff;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}