body {
	overflow-x: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

#content {
	position: relative;
	background: grey;
	overflow: hidden;
	width: 85%;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#user-name-container {
	float: right;
	margin-left: 80%;
	margin-bottom: 5%;
}

#user-information {
	width: 100%;
}

#personal-information-box {
	float: left;
	overflow: hidden;
	width: 35%;
	height: 10%;
	border: 1px solid black;
	margin: 5px;
}

#toxicity-score-box {
	float: right;
	overflow: hidden;
	width: 35%;
	height: 10%;
	border: 1px solid black;
	margin: 5px;
}

#user-edits {
	overflow: hidden;
}

#user-edits ul {
	list-style: none;
}

#user-edits li {
	border: 1px solid black;
	margin: 5px;
	box-sizing: content-box;
	width: 100%;
}